/*Typography*/
html {
  font: "Open Sans Condensed", "Roboto Condensed", Verdana, sans-serif;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: #D8E2DC;
  overflow: hidden;
}

#tooltip{
  background-color: aliceblue;
  border-radius: 5px;
  border: 1px solid black;
  padding: 2px;
  font-family: 'Courier New', Courier, monospace;
  font-style: italic;
  z-index: 50
}

#year{
  /* display: none; */
}


h1 {
  text-align: center;
  font-size: 45px;
  font-weight: bold;
  padding-bottom: 5px;
}

.slidecontainer {
  width: 50%;
  padding: 10px;
  margin-bottom: -80px;
  z-index: 20;
          
 }

.slider {
    -webkit-appearance: none;
    width: 50%;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    z-index: 20;
}

.slider:hover {
  opacity: 1;
  z-index: inherit;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #04AA6D;
  cursor: pointer;
  z-index: inherit;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #04AA6D;
  cursor: pointer;
  z-index: inherit;
}

#wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  height: 90vh;/* height is needed to force wrapping */
}
.q2,
.q3 {
  order: -1;/* bring them in front of other(s) */
  height: 50%;/* share the height (if three of them, then put it down to 33.33% to share evenly height avalaible) */
  width: 50%;
  z-index: 10;
}
.q1 {
  flex: 1;/* equals height:100%; it will fill entire height */
  width: 50%;/* here your fixed width */
  
  /* z-index: -10 */
}
.text-containers{
  display: flex;
  bottom: 20px;
  position: fixed;
}
.text-containers p{
  border: 1px solid black;
  border-radius: 30px;
  background: burlywood;
}

