/*Typography*/
html {
  font: 16px "Open Sans Condensed", "Roboto Condensed", Verdana, sans-serif;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

#tooltip{
  background-color: aliceblue;
  border-radius: 5px;
  border: 1px solid black;
  padding: 2px;
  font-family: 'Courier New', Courier, monospace;
  font-style: italic;
}

h1 {
  text-align: center;
  font-size: 36px;
  font-weight: bold;
}

.slidecontainer {
  width: 95%;
  padding: 10px;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #04AA6D;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #04AA6D;
  cursor: pointer;
}

/* #wrapper{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: DodgerBlue;
  height: 100vh;
  width: 100vh;
}
.q1{
  order: -1;
  display: inline-block;
  width: 50%;
  height: 50vh;
  border: 1px solid black;
  background: pink;
}
.q2{
  flex: 1;
  width: 50%;
  height: 100vh;
  border: 1px solid black;
  background: yellow;
}
.q3{
  order: -1;
  display: block;
  width: 50%;
  height: 50vh;
  border: 1px solid black;
  background: green;
} */

#wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  height: 100vh;/* height is needed to force wrapping */
}
.q2,
.q3 {
  order: -1;/* bring them in front of other(s) */
  height: 50%;/* share the height (if three of them, then put it down to 33.33% to share evenly height avalaible) */
  width: 40%;
}
.q1 {
  flex: 1;/* equals height:100%; it will fill entire height */
  width: 60%/* here your fixed width */
}

.q1 {
  /*background: #A1EB88;*/
  /*background: #9de0e8;*/
  background: #ebedeb;
}
.q2 {
  /*background: #def3f6;*/
  background: #ebedeb;
}
.q3 {
  /*background: #F7F467;*/
  background: #ebedeb;
}
