/*Typography*/
html {
  font: 16px "Open Sans Condensed", "Roboto Condensed", Verdana, sans-serif;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

#tooltip{
  background-color: aliceblue;
  border-radius: 5px;
  border: 1px solid black;
  padding: 2px;
  font-family: 'Courier New', Courier, monospace;
  font-style: italic;
}

/* #wrapper{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: DodgerBlue;
  height: 100vh;
  width: 100vh;
}
.q1{
  order: -1;
  display: inline-block;
  width: 50%;
  height: 50vh;
  border: 1px solid black;
  background: pink;
}
.q2{
  flex: 1;
  width: 50%;
  height: 100vh;
  border: 1px solid black;
  background: yellow;
}
.q3{
  order: -1;
  display: block;
  width: 50%;
  height: 50vh;
  border: 1px solid black;
  background: green;
} */

#wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  height: 100vh;/* height is needed to force wrapping */
}
.q2,
.q3 {
  order: -1;/* bring them in front of other(s) */
  height: 50%;/* share the height (if three of them, then put it down to 33.33% to share evenly height avalaible) */
  width: 50%;
}
.q1 {
  flex: 1;/* equals height:100%; it will fill entire height */
  width: 50%/* here your fixed width */
}

.q1 {
  background: #A1EB88;
}
.q2 {
  background: #def3f6;
}
.q3 {
  background: #F7F467
}